/* Navbar.css */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white; 
 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

hr{
    margin: 0;
    border: none;
    height: 1px;
    background-color: #e0e0e0;
}

.profile-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.logout-btn {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #000;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  font-size: 14px;
  z-index: 10;
}

.profile-container:hover .logout-btn {
  display: block;
}

.profile-icon {
  transition: transform 0.2s ease;
}

.profile-container:hover .profile-icon {
  transform: scale(1.1);
}

@media (max-width: 775px) {
  .navbar-container {
    justify-content: center;
    position: relative;
  }

  .profile-container {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Show only on smaller screens */
@media (max-width: 775px) {
  .hamburger {
    display: block;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1500;
  }

  .navbar-container {
    justify-content: center;
    position: relative;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .profile-container {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}


