@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scrollbar Globally */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html, body {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE/Edge */
}

body::-webkit-scrollbar {
  display: none;               /* Chrome/Safari */
}
